extends layout.pug
block content
  div.status
    if voted
      h2.alert.error You Have Already Voted Here Today! Please Try Again Tommorrow.
    if success
      h2.alert.success You Successfully Voted!
    if com
      h2.alert.message Successfully Commented!
  div.poll-container
    div.content-container
      h2.content-title=title
        h4.creator(align="center") Created by: #{display}
      ul.content-list
        each element,i in list
          li
            span.name-span=element.name
            span.count-span.right  #{element.value} &nbsp
              i(class="fas fa-thumbs-up") &nbsp
      div.vote-container
        h3.form-op Choose a value to vote for:
        form(action="/polls/submit/"+id method="POST")
          select(required name="voteSelection").form-op.select-bar 
            option(value="") Choose a value..
              each element, i in list
                option(value=element.name) #{element.name}
          br      
          input.form-op.submit(type="submit" value="Submit")
      if user
        if creator
          if user.username == creator.username
          button(id="delete" data-id=id).form-op.delete Delete                      
    div#pie-chart.visual-container
  br    
  div#comments
    h3.content-title Comments
    hr
    if comments.length <=0
      em 
        h3(align="center" style="color:#999;") Be the first to comment...
    ul#comment-list
      each comment, i in comments 
        li
          div.user-div 
            img(src=comment.image)
            em
              h5 #{comment.user} says:
          div.comment-div
            pre #{comment.comment}
            em
              h5 submitted on #{comment.time}
            //button(class="delete-com" data-id=id).delete Delete  
                
  br      
  if user
     if user.username  
       div#send-comments
         form(method="POST" action="/polls/add/addcom/"+id)
           h3 
           textarea.form-op(type="text" name="comment" required style="border:solid black 1px;")
           i.fas.fa-comment(style="color:dodgerblue;font-size:2em;padding-left:1em;") 
           input.form-op.submit(type="submit" value="Submit" style="width:5em;") 
  else 
    h3(align="center") Please login to comment on poll.
  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")          
  script(type="text/javascript").
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    var data = null;
    var options = {'title':"#{title}"+" Pie Chart",backgroundColor: 'whitesmoke',fontSize:'13'};
    
    window.onresize = resize;
    
    
    function resize(){
      var chart = new google.visualization.PieChart(document.getElementById('pie-chart'));
      chart.draw(data, options);
    }

    // Draw the chart and set the chart values
    function drawChart() {
  
    var valArray = [['Name', 'Value']];   
    
    var list=!{JSON.stringify(list)};
    
    list.forEach((element)=>{
      valArray.push([element.name,element.value]);
    });
      
    data = google.visualization.arrayToDataTable(valArray);
    
    var chart = new google.visualization.PieChart(document.getElementById('pie-chart'));
    chart.draw(data, options);
    }      
